* { 
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
	background: transparent;

	
body { 
		font-family: 'Roboto', serif;
		background: #4ECDC4;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
	display:flex;
	justify-content: center;
	align-items:center;
	width:100%;
	height:100vh;
	background-size: cover;
	
}
.login-box { 
	position: relative;
	width: 500px; 
	height: 550px; 
	background:#4ECDC4;  /* fallback for old browsers */
    background:-webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background:linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}




h2 { 
	font-size:2em;
	color:#fff;
	text-align:center;
}

.input-box {
	position:relative;
	width:310px;
	margin:30px 0;
	border-bottom: 2px solid #fff;

}

.input-box label {
	position:absolute;
	top:50%;
	left:5px;
	transform:translateY(-50%);
	font-size:1em;
	color:#fff;
	pointer-events:none;
	transition:.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top:-5px;
}

.input-box input {
	width:100%;
	height:50px;
	border:none;
	outline:none;
	font-size:1em;
	color:#fff;
	padding: 0 8px 0 5px;
}

.input-box .icon {
	position:absolute;
	right:8px;
	color:#fff;
	font-size:1.2em;
	line-height:57px;
	border:none;
}

.remember-forgot {
	margin: -15px 0 15px;
	color:#fff;
	display: flex;
	justify-content: space-between;
	font-size:.8em;
}

.remember-forgot label input {
	margin-right:3px;

}

.remember-forgot a {
	color:#fff;
	text-decoration:none;
}

.remember-forgot a:hover {
	text-decoration:underline;
}

button {
	width:100%;
	height:40px;
	background:#fff;
	border:none;
	outline:none;
	border-radius:40px;
	cursor:pointer;
	font-size:1em;
	color:#000;
	font-weight:500;
}

.register-link {
	font-size:.8em;
	color:#fff;
	text-align:center;
	margin:25px 0 10px;
}

.register-link p a {
	color:#fff;
	text-decoration:none;
	font-weight:600;
}

.register-link p a:hover {
	text-decoration:underline;
}
@media (max-width: 360){
	.login-box {
		width:100%;
		height:100vh;
		border:none;
		border-radius:0;

	}
	.input-box
	 width: 290px;
}